<div class="blog_section">
    <div class="section_panel d-flex flex-row align-items-center justify-content-start">
  
        <div class="section_title">Latest Articles</div>

        <div class="section_tags ml-auto">
            <ul>
                <li class="active"><a href="/Dashboard">dashboard</a></li>
                <li><a href="/home">Home</a></li>

                <li><a href="/Sendrequest">Send a request</a></li>
                <li><a href="category.html">health & fitness</a></li>
                <li><a href="category.html">travel</a></li>
            </ul>
        </div>
        <div class="section_panel_more">
            <ul>
                <li>more
                    <ul>
                        <li><a href="category.html">new look 2018</a></li>
                        <li><a href="category.html">street fashion</a></li>
                        <li><a href="category.html">business</a></li>
                        <li><a href="category.html">recipes</a></li>
                        <li><a href="category.html">sport</a></li>
                        <li><a href="category.html">celebrities</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>